apiVersion: bootstrap.cluster.x-k8s.io/v1alpha3
kind: KubeadmConfigTemplate
metadata:
  name: "{{ .Values.cluster.name }}-ingress"
spec:
  template:
    spec:
      joinConfiguration:
        nodeRegistration:
          kubeletExtraArgs:
            cloud-provider: aws
            node-labels: "node.kubernetes.io/ingress=''"
          name: {{`'{{ ds.meta_data.local_hostname }}'`}}