apiVersion: controlplane.cluster.x-k8s.io/v1alpha3
kind: KubeadmControlPlane
metadata:
  name: {{ .Values.cluster.name }}-control-plane
spec:
  infrastructureTemplate:
    apiVersion: infrastructure.cluster.x-k8s.io/v1alpha3
    kind: AWSMachineTemplate
    name: {{ .Values.cluster.name }}-control-plane
  kubeadmConfigSpec:
    clusterConfiguration:
      apiServer:
        extraArgs:
          cloud-provider: aws
      controllerManager:
        extraArgs:
          cloud-provider: aws
    initConfiguration:
      nodeRegistration:
        kubeletExtraArgs:
          cloud-provider: aws
          node-labels: "node.kubernetes.io/control-plane=''"
        name: {{`'{{ ds.meta_data.local_hostname }}'`}}
    joinConfiguration:
      nodeRegistration:
        kubeletExtraArgs:
          cloud-provider: aws
          node-labels: "node.kubernetes.io/control-plane=''"
        name: {{`'{{ ds.meta_data.local_hostname }}'`}}
  replicas: {{ .Values.cluster.controlPlaneReplicas }} 
  version: {{ .Values.cluster.kubernetesVersion }} 